*{
    margin: 0;
    padding: 0;
}

/*banner*/

.banner{
    width: 100%;
    height: 100vh;
    background-image: url("../images/banner/banner1.png"), linear-gradient(rgba(7, 7, 7, 0.292),rgba(12, 12, 12, 0.319));
    
}

.banner-text{
    
    margin-left: 900px;
    align-items: center;
    padding-top: 200px;
    
}

.title-1{
    font: 100px;
}

.para-text{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 13px;
    color: rgba(41, 40, 39, 0.895); 
    padding-bottom: 18px;
    font-size: 17px; 
}

.btn{
    background-color: orangered;
    padding: 20px 35px;
    font-size: 18px;
    border: none;
    margin: 5px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 22px;
   
}

/*main*/

.content{
    display: flex;
    
}

.picture{
    width: 300px;
    margin-left: 120px;
    margin-top: 130px;
    margin-bottom: 50px;
}


.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 22px;
    font-size: 45px;
    
}

.li-text{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 13px;
    color: rgba(41, 40, 39, 0.895); 
    padding-bottom: 18px;
    font-size: 17px;
    
}

.list{
    position: absolute;
    width: 416px;
    height: 400px;
    margin-left: 800px;
    margin-top: 380px;
}

.serial{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
}

.text{
    padding-bottom: 5px;
    color: rgba(41, 40, 39, 0.895);
    list-style: none;
}

ul li{
    list-style: none;
}


/*icon*/

.missio-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 300px;
}

.plan{
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-1{
    padding: 9px 12px 20px 9px;
    
}

.img-1{
   margin-left: 90px;
}
.img-2{
    padding-left: 15px;
}

.web{
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}

.java{
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}

.web-text{
    position: absolute;
    width: 270px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    line-height: 35px; 
    font-size: 30;
}

.java-text{
    position: absolute;
    width: 270px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    line-height: 35px; 
    font-size: 30;
}


/*blend*/

.blend{
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    margin-bottom: 140px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 12px;
}

.blend-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: whitesmoke;
    padding-left: 51px;
    padding-top: 57px;
    padding-bottom: 22px;
}

.call{
    color: red;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 28px;
    font-size: 18px;
    border: none;
    margin: 5px;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 70px;
    margin-left: 50px;
}


/*footer*/

.footer{
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
}

.social-icon{
    display: flex;
}

.left{
    margin-top: 60px;
    margin-left: 230px;
    margin-bottom: 90px;

}

.l-title{
    padding-bottom: 28px;
    width: 145px;
    height: 50px;
    font-weight: 700;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.l-para{
    font-family: Arial, Helvetica, sans-serif;
}

.mail{
    padding-top: 35px;
    padding-bottom: 24px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.phn{
    padding-bottom: 22px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.social-icon{
    padding-top: 5px;
    padding-bottom: 19px;
}

.twitter{
    padding-right: 15px;
    padding-left: 15px;
}

.right{
    margin-top: 9px;
    margin-right: 180px;
    margin-bottom: 210px;
    margin-left: 460px;
}

.subs{
    font-family: Arial, Helvetica, sans-serif;
    
}

.r-mail{
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 12px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px
    #FFFFFF;
    border-color: rgb(192, 18, 18);
    border-radius: 8px;
    color: white;
    background-color: rgba(62, 58, 50, 0.855);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 19px;
    margin-bottom: 12px;
    
}

.s-btn{
    color: red;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 28px;
    font-size: 18px;
    border: none;
    margin: 5px;
    border-radius: 10px;
    font-weight: 600;
}